
/* Mobile Styles 0px to 480px */

@media only screen and (max-width:480px) {

    table, tbody, tr, td, th {
        display: block;
    }

    thead, tfoot {
        display: none;
    }

    tbody td {
        position: relative;
        padding-left: 40%;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 5px;
        width: 40%;
    }

    img {
        display: none;
    }
}